.page-content {
    text-align: center;
    background: #efeff4;
    
}
.devider{ height: 1em; background: #efeff4;}
.tabs.content-block,
.tabs .list-block {
    margin: 0;
}

.tabs {
    padding: 0;
    
}
.tabbar{
    font-size: 14px;
}
.tabbar .icon{
    font-size:22px;
}
.list-block .item-inner::after {
    display: none;
}
.list-block ul::before{
    display: none;
}
.list-block ul::after{
    display: none;
}
