.page-content {
    text-align: center;
    background: #efeff4;
}

.content-block {
    color: #000;
}

.devider {
    height: 1em;
    background: #efeff4;
}

.devider .item-inner::after {
    display: none;
}

.tabs.content-block,
.tabs .list-block {
    margin: 0;
}

.tabs {
    padding: 0;
}

.tabbar {
    font-size: 12px;
}

.tabbar .icon {
    font-size: 20px;
    line-height: 1.4;
}

.right-navbar {
    background-color: #007aff;
    color: #fff;
    margin: 0;
    height: 44px;
    line-height: 44px;
    text-align: center;
    font-size: 17px;
}

.right-navbar .right-button {
    color: #fff;
    float: right;
    padding: 0 15px;
}

.preloader {
    width: 34px;
    height: 34px;
}

.pull-to-refresh-layer .preloader {
    margin-left: -17px;
}

.list-block {
    font-size: 15px;
}

.list-block .item-content {
    min-height: 55px;
}

.no-top-border .item-inner::before {
    display: none;
}

.no-bottom-border .item-inner::after {
    display: none;
}

.accordion-item-expanded>.item-content {
    background: #007aff;
    color: #fff;
}

.accordion-item-expanded>.accordion-item-content {}

.accordion-item-expanded>.accordion-item-content>.content-block {}

.list-icon {
    width: 35px;
    height: 25px;
    background-size: contain;
    background-repeat: no-repeat;
}

.icon-retail {
    background-image: url(../images/query/retail-blue.png)
}

.icon-cost {
    background-image: url(../images/query/cost-blue.png)
}

.icon-inventory {
    background-image: url(../images/query/inventory-orange.png)
}

.icon-order-progress {
    background-image: url(../images/query/order-progress-orange.png)
}

.icon-asset {
    background-image: url(../images/stat/asset-orange.png)
}

.icon-profit {
    background-image: url(../images/stat/profit-orange.png)
}

.icon-achievement {
    background-image: url(../images/stat/achievement-blue.png)
}

.icon-unfinish-order {
    background-image: url(../images/stat/unfinish-order-blue.png)
}

.icon-storage {
    background-image: url(../images/stat/storage-orange.png)
}

.icon-income-expense {
    background-image: url(../images/stat/income-expense-orange.png)
}

.icon-install-plan {
    background-image: url(../images/delivery/install-plan-blue.png)
}

.icon-delivery-report {
    background-image: url(../images/delivery/delivery-report-orange.png)
}

.icon-install-report {
    background-image: url(../images/delivery/install-report-orange.png)
}

.icon-profile {
    background-image: url(../images/mine/profile-blue.png)
}

.icon-modify-pwd {
    background-image: url(../images/mine/modify-pwd-blue.png)
}

.icon-about {
    background-image: url(../images/mine/about-orange.png)
}

.icon-version {
    background-image: url(../images/mine/version-orange.png)
}
.icon-download {
    background-image: url(../images/download.png)
}


.dash-line {
    background-image: linear-gradient(to right, #6d6d72 33%, #fff 0%);
    background-position: bottom;
    background-size: 10px 1px;
    background-repeat: repeat-x;
}

.card {
    box-shadow: 1px 1px 5px rgba(0, 0, 0, .3);
}

.md-block-title {
    margin: 20px 15px 0;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.data-list {
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
    text-align: left;
}

.data-list ul {
    padding-top: 15px;
}

.data-list li {
    padding: 0 15px 5px;
    border-bottom: 1px solid #c8c7cc;
    margin-bottom: 10px;
}

.data-list .cell-title {
    margin: 0;
    font-weight: bold;
}

.data-list .cell-block {
    margin-top: 10px;
}

.data-list .cell-block>span {
    float: right;
}

.list-block .swipeout-actions-left .edit-action, .list-block .swipeout-actions-right .edit-action{
    background: #007aff
}
.list-block .swipeout-actions-left .view-action, .list-block .swipeout-actions-right .view-action{
    background: #ff9500
}
