<?xml version='1.0' encoding='utf-8'?>
<widget id="com.modoucloud.app" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <hook src="hooks/hookers.js" type="before_prepare" />
    <hook src="hooks/beforedep.js" type="before_deploy" />
    <name>墨斗云</name>
    <description>墨斗云家居建材零售行业销售管理平台</description>
    <author email="sunxiaod168@hotmail.com" href="http://www.modoucloud.com">Modou Team</author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
        <icon density="ldpi" src="src/assets/images/android/ldpi.png" />
        <icon density="mdpi" src="src/assets/images/android/mdpi.png" />
        <icon density="hdpi" src="src/assets/images/android/hdpi.png" />
        <icon density="xhdpi" src="src/assets/images/android/xhdpi.png" />
        <icon density="xxhdpi" src="src/assets/images/android/xxhdpi.png" />
        <icon density="xxxhdpi" src="src/assets/images/android/xxxhdpi.png" />
        <splash density="port-hdpi" src="src/assets/images/android/launch-480-800.png" />
        <splash density="port-ldpi" src="src/assets/images/android/launch-240-320.png" />
        <splash density="port-mdpi" src="src/assets/images/android/launch-320-480.png" />
        <splash density="port-xhdpi" src="src/assets/images/android/launch-640-960.png" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
        <icon src="src/assets/images/ios/Icon-60@2x.png" />
        <icon src="src/assets/images/ios/Icon-60@3x.png" />
        <icon src="src/assets/images/ios/Icon-76.png" />
        <icon src="src/assets/images/ios/Icon-76@2x.png" />
        <icon src="src/assets/images/ios/Icon-83.5@2x.png" />
        <icon src="src/assets/images/ios/Icon-Small-40.png" />
        <icon src="src/assets/images/ios/Icon-Small-40@2x.png" />
        <icon src="src/assets/images/ios/Icon-Small-40@3x.png" />
        <icon src="src/assets/images/ios/Icon-Small.png" />
        <icon src="src/assets/images/ios/Icon-Small@2x.png" />
        <splash height="2208" src="src/assets/images/ios/launch-1242-2208.png" width="1242" />
        <splash height="2436" src="src/assets/images/ios/launch-1125-2436.png" width="1125" />
        <splash height="1334" src="src/assets/images/ios/launch-750-1334.png" width="750" />
        <splash height="1136" src="src/assets/images/ios/launch-640-1136.png" width="640" />
    </platform>
    <allow-navigation href="*" />
    <preference name="Orientation" value="portrait" />
    <preference name="AndroidPersistentFileLocation" value="Compatibility" />
    <preference name="target-device" value="handset" />
    <preference name="deployment-target" value="9.3" />
    <plugin name="cordova-plugin-whitelist" spec="^1.3.3" />
    <plugin name="cordova-plugin-splashscreen" spec="^5.0.2" />
    <plugin name="cordova-plugin-device" spec="^2.0.1" />
    <plugin name="cordova-plugin-file" spec="^6.0.1" />
    <plugin name="cordova-plugin-file-transfer" spec="^1.7.1" />
    <plugin name="cordova-plugin-file-opener2" spec="^2.0.19" />
</widget>
