<?xml version='1.0' encoding='utf-8'?>
<widget id="com.modoucloud.app" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <hook src="hooks/hookers.js" type="before_prepare"/>
    <hook src="hooks/beforedep.js" type="before_deploy"/>
    <name>&#x58A8;&#x6597;&#x4E91;</name>
    <description>&#x58A8;&#x6597;&#x4E91;&#x5BB6;&#x5C45;&#x5EFA;&#x6750;&#x96F6;&#x552E;&#x884C;&#x4E1A;&#x9500;&#x552E;&#x7BA1;&#x7406;&#x5E73;&#x53F0;</description>
    <author email="sunxiaod168@hotmail.com" href="http://www.modoucloud.com">Modou Team</author>
    <content src="index.html"/>
    <access origin="*"/>
    <allow-intent href="http://*/*"/>
    <allow-intent href="https://*/*"/>
    <allow-intent href="tel:*"/>
    <allow-intent href="sms:*"/>
    <allow-intent href="mailto:*"/>
    <allow-intent href="geo:*"/>
    <platform name="android">
        <allow-intent href="market:*"/>
         <!--
            ldpi    : 36x36 px
            mdpi    : 48x48 px
            hdpi    : 72x72 px
            xhdpi   : 96x96 px
            xxhdpi  : 144x144 px
            xxxhdpi : 192x192 px
        -->
        <icon src="src/assets/images/android/ldpi.png" density="ldpi"/>
        <icon src="src/assets/images/android/mdpi.png" density="mdpi"/>
        <icon src="src/assets/images/android/hdpi.png" density="hdpi"/>
        <icon src="src/assets/images/android/xhdpi.png" density="xhdpi"/>
        <icon src="src/assets/images/android/xxhdpi.png" density="xxhdpi"/>
        <icon src="src/assets/images/android/xxxhdpi.png" density="xxxhdpi"/>       
        <splash density="port-hdpi" src="src/assets/images/android/launch-480-800.png"/>
        <splash density="port-ldpi" src="src/assets/images/android/launch-240-320.png"/>
        <splash density="port-mdpi" src="src/assets/images/android/launch-320-480.png"/>
        <splash density="port-xhdpi" src="src/assets/images/android/launch-640-960.png"/>
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*"/>
        <allow-intent href="itms-apps:*"/>
        <icon src="src/assets/images/ios/Icon-60@2x.png"/>
        <icon src="src/assets/images/ios/Icon-60@3x.png"/>
        <icon src="src/assets/images/ios/Icon-76.png"/>
        <icon src="src/assets/images/ios/Icon-76@2x.png"/>
        <icon src="src/assets/images/ios/Icon-83.5@2x.png"/>
        <icon src="src/assets/images/ios/Icon-Small-40.png"/>
        <icon src="src/assets/images/ios/Icon-Small-40@2x.png"/>
        <icon src="src/assets/images/ios/Icon-Small-40@3x.png"/>
        <icon src="src/assets/images/ios/Icon-Small.png"/>
        <icon src="src/assets/images/ios/Icon-Small@2x.png"/>
        <splash height="2208" src="src/assets/images/ios/launch-1242-2208.png" width="1242"/>
        <splash height="2436" src="src/assets/images/ios/launch-1125-2436.png" width="1125"/>
        <splash height="1334" src="src/assets/images/ios/launch-750-1334.png" width="750"/>
        <splash height="1136" src="src/assets/images/ios/launch-640-1136.png" width="640"/>
    </platform>
    <allow-navigation href="*"/>
    <plugin name="cordova-plugin-whitelist" spec="1"/>
    <plugin name="cordova-plugin-splashscreen" spec="~5.0.2-dev"/>
    <plugin name="cordova-plugin-device" spec="^2.0.1"/>
    <plugin name="cordova-plugin-file" spec="^6.0.1"/>
    <plugin name="cordova-plugin-file-transfer" spec="^1.7.1"/>
    <preference name="AndroidPersistentFileLocation" value="Compatibility"/>
    <plugin name="cordova-plugin-file-opener2" spec="^2.0.19"/>
</widget>
